<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragment/home_header"></th:block>
<body>
<th:block th:include="fragment/home_header2"></th:block>

<section id="services">
    <div class="container-fluid">

        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Add Product Page</h2>
            <p>Hey! Please fill out the below information to add a product.</p>
            <hr class="primary">
        </div>
    </div>
    <div class="container col-md-6 col-md-offset-3">
        <form th:object="${user}" th:action="@{/admin/adduser}" th:method="post">

            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label for="name">Username : </label>
                <input id="name" class="form-control" th:field="*{name}"/>
            </div>
            <div class="form-group">
                <label for="description">Password : </label>
                <input id="description" class="form-control" th:field="*{password}"/>
            </div>
            <div class="form-group blu-margin">
                <label for="dropOperator"></label>
                <select class="form-control" th:field="*{roles}"  id="dropOperator">

                    <option th:each="r : ${roles1}" th:value="${r.id}" th:text="${r.name}"></option>

                </select>
            </div>
            <!--<select class="form-control"  th:field="*{roles}" th:each="r : *{roles}" id="dropOperator">
                <option  th:value="${r.id=='3'}"  th:text="ROLE_USER"></option>
                <option  th:value="${r.id=='1'}" th:text="ROLE_ADMIN"></option>
            </select>-->
            <div class="form-group blu-margin">
                <div class="form-group">
                    <label for="description">Email : </label>
                    <input id="email" class="form-control" th:field="*{email}"/>
                </div>
            </div>
            <br>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <input type="submit" value="submit" class="btn btn-success"/>
                <a th:href="@{/admin}" class="btn btn-primary">Cancel</a>
            </div>
        </form>


    </div>
</section>


<th:block th:include="fragment/footer"></th:block>
</body>
</html>