<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:include="fragment/home_header"></th:block>

<body>


<section id="services" th:object="${post}">

    <div class="container">
        <div class="row">
            <div class="col-lg-9">


                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        New Post
                    </div>
                    <form th:object="${post}" th:action="@{/newpost}" th:method="post" enctype="multipart/form-data">
                        <input type="hidden" th:field="*{postid}"/>
                        <div class="input-group mb-3">
                            <input type="text" id="inputtitle" name="name" th:name="name" class="form-control"
                                   placeholder="Leave a title!" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <input type="hidden" th:field="*{karma}" th:value="1"/>

                        <select class="form-control" id="abcd" name="subreddit">

                            <option id="abc" th:value="${subreddit.idsubreddit}"></option>

                        </select>
                        <input type="file" name="file" th:name="file"/>


                        <!-- <form  method="post" th:action="@{/uploadFiles} " enctype="multipart/form-data">
                             <input type="file"  name="files" th:name="files" multiple required />
                             <button type="submit" value="submit">Submit</button>

                         </form> -->

                        <div class="input-group">

                            <textarea class="form-control" th:name="description"
                                      placeholder="Leave a comment!"></textarea>

                        </div>
                        <div class="col-lg-2 col-lg-offset-2 text-center" id="submitcomment">
                            <input type="submit" value="submit" class="btn btn-success"/>
                        </div>
                    </form>
                    <br>

                </div>
                <!-- /.card -->

            </div>


        </div>
    </div>


</section>
<script>
    var abcd = document.getElementById('abcd');
    abcd.style.visibility = 'hidden';


</script>
<th:block th:include="fragment/footer"></th:block>

</body>

</html>