<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:include="fragment/fragmenttest2"></th:block>

<div class="container light-style flex-grow-1 container-p-y" >
    <form th:action="@{/newsettingspassword}" th:object="${user}" th:method="post" enctype="multipart/form-data">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>

        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action "   th:href="${'/profile/'+ user.getEmail() + '/settings'}">General</a>
                        <a class="list-group-item list-group-item-action active" data-toggle="list" >Change password</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#">Info</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#">Social links</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#">Connections</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#">Notifications</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">



                        <div class="">
                            <div class="card-body pb-2">

                                <div class="form-group">
                                    <label class="form-label">Current password</label>
                                    <input name="password" th:name="oldpassword" class="form-control" th:id="pw1"
                                           type="password"  aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input type="password" th:name="password1" name="password1" aria-label="Password" aria-describedby="basic-addon1" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Repeat new password</label>
                                    <input type="password" th:name="password2" name="password2" aria-label="Password" aria-describedby="basic-addon1" class="form-control">
                                </div>

                            </div>
                        </div>
                    </div>

        </div>
            </div>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center" id="submitcomment">
            <input type="submit" value="submit" class="btn btn-success"/>
        </div>
    </form>
</div>
</html>