<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:include="fragment/home_header"></th:block>

<body>


<section id="services" th:object="${post}">

    <div class="container">
        <div class="row">
            <div class="col-lg-9">


                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        New Subreddit
                    </div>
                    <form th:object="${subreddit}" th:action="@{/newsubreddit}" th:method="post">
                        <input type="hidden" th:field="*{idsubreddit}"/>
                        <div class="input-group mb-3">
                            <input type="text" id="inputtitle" th:field="*{name}" class="form-control"
                                   placeholder="Leave a title!" aria-label="Username" aria-describedby="basic-addon1">
                        </div>


                        <div class="col-lg-2 col-lg-offset-2 text-center" id="submitcomment">
                            <input type="submit" value="submit" class="btn btn-success"/>
                        </div>
                    </form>
                    <br>

                </div>
                <!-- /.card -->

            </div>


        </div>
    </div>


</section>

<th:block th:include="fragment/footer"></th:block>

</body>

</html>