<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:include="fragment/fragmenttest3"></th:block>
<div class="container" th:object="${users}">
    <div class="page-inner no-page-title">
        <!-- start page main wrapper -->
        <div id="main-wrapper">
            <div class="col-lg-12 ">
                <div class="card card-white grid-margin">
                    <div class="container">
                        <div class="row">
                            <div class="p-xs col-6 col-sm-3 text-info ">

                                <a th:href="*{'/admin/dashboard/users'}" th:text="POSTS"></a>

                                <span></span>
                            </div>
                            <div class="p-xs col-6 col-sm-3 text-info ">

                                <a th:href="*{'/'}" th:text="HOME"></a>

                                <span></span>
                            </div>

                            <div class="p-xs col-6 col-sm-3 text-info ">


                            </div>
                            <div class="p-xs col-6 col-sm-3 text-info ">


                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box clearfix">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                <tr>
                                    <th><span>User</span></th>
                                    <th><span>Created</span></th>
                                    <th class="text-center"><span>Status</span></th>
                                    <th><span>Email</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each=" u : ${users}">
                                    <td>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                        <a href="#" class="user-link" th:text="${u.name}">Mila Kunis</a>
                                        <span class="user-subhead" th:text="${u.role}">Admin</span>
                                    </td>
                                    <td>
                                        2013/08/08
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-default" th:text="${u.enabled}">Inactive</span>
                                    </td>
                                    <td>
                                        <a th:href="${'/profile/' + u.getEmail()}" th:text="${u.getEmail()}">mila@kunis.com</a>
                                    </td>
                                    <td style="width: 20%;">
                                        <a href="#" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
									</span>
                                        </a>
                                        <a href="#" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                                        </a>
                                        <a href="#" class="table-link danger">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination pull-right">
                            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

            <!-- Row -->
        </div>
        <!-- end page main wrapper -->
        <div class="page-footer">
            <p>Copyright © 2020 Evince All rights reserved.</p>
        </div>
    </div>
</div>
</html>