<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
    <h3>Upload Multiple Files</h3>
    <form  method="post" th:action="@{/uploadFiles} " enctype="multipart/form-data">
        <input type="file"  name="files" th:name="files" multiple required />
        <button type="submit" value="submit">Submit</button>

    </form>
</div>
<div>
<h3>List of docs</h3>
<table>

    <thead>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Download link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doc : ${docs}" >
        <td th:text="${doc.id}"></td>
        <td th:text="${doc.docname}"></td>
        <td><a th:href="@{'/downloadFile/'+ ${doc.id}}">Download</a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>