<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:include="fragment/home_header"></th:block>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="container">
                        <div class="row">
                    <div class=" p-xs col-6 col-sm-3  p-xs">

                            <i class="fa fa-globe text-navy mid-icon"></i>

                        <h2>Reddit</h2>
                        <a   th:href="${'/'}" >HOME</a>
                        <a   th:href="${'/subreddit/new'}" >ADD SUBREDDIT</a>
                        <a   th:href="${'login'}" sec:authorize="!isAuthenticated()">LOGIN</a>
                        <a  th:href="${'/register'}" sec:authorize="!isAuthenticated()">REGISTER</a>
                    </div>

                </div>
                    </div>
                </div>

                <div class="ibox-content m-b-sm border-bottom ">
                    <div class="container">
                        <div class="row">
                    <div class="p-xs col-6 col-sm-3 text-info" th:each=" s : ${subreddits}">

                        <a th:href="${'/subreddit/' + s.idsubreddit}" th:text="${s.name}"></a>
                        <span></span>
                    </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content forum-container" >

                    <div class="forum-title">

                        <h3>Top rated posts</h3>
                    </div>


                    <div class="forum-item" th:each=" p : ${topPosts}">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title" th:text="${p.name}" th:href="${'subreddit/post/'+ p.postid}">Introductions</a>
                                <div class="forum-sub-title" th:text="${p.description}" >New to the community? Please stop by, say hi and tell us a bit about yourself. </div>

                            </div>


                            <div class="col-md-3 forum-info">
                            <span class="views-number" th:text="${p.karma}" >

                            </span>
                                <div>
                                    <small>Upvotes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>


                <div class="ibox-content forum-container" >

                    <div class="forum-title">

                        <h3>Posts</h3>
                    </div>


                    <div class="forum-item" th:each=" p : ${posts}">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title" th:text="${p.name}" th:href="${'subreddit/post/'+ p.postid}">Introductions</a>
                                <div class="forum-sub-title" th:text="${p.description}" >New to the community? Please stop by, say hi and tell us a bit about yourself. </div>
                            </div>



                            <div class="col-md-3 forum-info">
                            <span class="views-number">
                                890
                            </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block th:include="fragment/footer"></th:block>
</body>
</html>