<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:include="fragment/home_header"></th:block>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="container">
                        <div class="row">
                            <div class=" p-xs col-6 col-sm-3  p-xs">

                                <i class="fa fa-globe text-navy mid-icon"></i>

                                <h2>Reddit</h2>
                                <span th:text="${#authorization.getAuthentication().name}"></span>

                                <span th:text="${#authentication.getAuthorities()}" ></span>


                                <a th:href="${'/'}">HOME</a>
                                <a th:href="${'/profile/'+#authentication.name }" sec:authorize="isAuthenticated()">PROFILE</a>
                                <a th:href="${'/subreddit/new'}" sec:authorize="hasRole('ROLE_ADMIN')">ADD SUBREDDIT</a>
                                <a th:href="${'login'}" sec:authorize="!isAuthenticated()">LOGIN</a>
                                <a th:href="${'/registration'}" sec:authorize="!isAuthenticated()">REGISTER</a>

                                <form th:action="@{/logout}" method="post"
                                      sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <input type="submit" value="Logout"/>
                                </form>
                                <form th:action="@{/a}">
                                    Filter: <input type="text" name="keyword" id="keyword" size="50" required/>
                                    &nbsp;
                                    <input type="submit" value="Search"/>
                                    &nbsp;
                                    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()"/>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="ibox-content m-b-sm border-bottom ">
                    <div class="container">
                        <div class="row">
                            <div class="p-xs col-6 col-sm-3 text-info" th:each=" s : ${subreddits}">

                                <a th:href="${'/subreddit/' + s.idsubreddit}" th:text="${s.name}"></a>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <h3>Top rated posts</h3>
                    </div>
                    <div class="forum-item" th:each=" p : ${topPosts}">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <div class="forum-desc" th:text="${'posted by '+ user.getUsersById(p.user).getName()}"></div>
                                <a href="forum_post.html" class="forum-item-title" th:text="${p.name}"
                                   th:href="${'subreddit/post/'+ p.postid}"></a>
                                <div class="forum-sub-title" th:text="${p.description}"></div>
                            </div>
                            <div class="col-md-3 forum-info">
                            <span class="views-number" th:text="${p.karma}">
                            </span>
                                <div>
                                    <small>Likes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <h3>Posts</h3>
                    </div>
                    <div class="forum-item" th:each=" p : ${posts}">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <div class="forum-desc" th:text="${'posted by '+ user.getUsersById(p.user).getName()}"></div>
                                <a href="forum_post.html" class="forum-item-title" th:text="${p.name}"
                                   th:href="${'subreddit/post/'+ p.postid}"></a>
                                <div class="forum-sub-title" th:text="${p.description}">
                                </div>
                            </div>


                            <div class="col-md-3 forum-info">
                            <span class="views-number" th:text="${p.karma}">
                            </span>
                                <div>
                                    <small>Likes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block th:include="fragment/footer"></th:block>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>
</body>
</html>