<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<th:block th:include="fragment/home_header"></th:block>
<body>


<div class="container">
    <div class="col-md-6 cold-md-offset-3">
        <h1>User Login Page</h1>
        <form th:action="@{/newLogin}" method="post">

            <div th:if="${param.error}">
                <div class="alert alert-danger">Invalid Username or password</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">You have been logged out</div>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="Enter Email ID"
                       autofocus="autofocus">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="Enter Password"
                       autofocus="autofocus">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="login-submit" id="login-submit"
                               class="form-control btn btn-primary" value="Log In"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
            </div>


        </form>
        </form>
    </div>
</div>

</body>
</html>