<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragment/home_header"></th:block>
<body>
<th:block th:include="fragment/home_header2"></th:block>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">All our categories</h2>
                <hr class="primary">

            </div>

        </div>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Show Subcategory</th>


        </tr>
        </thead>
        <tr th:each="u : ${categories}">
            <div>
                <td th:text="${u.categoryid}"></td>
                <td th:text="${u.name}"></td>
                <td th:text="${u.description}"></td>
                <td><a th:href="${ '/category/' + u.categoryid}"/>View</td>
                <td><a th:href="${'/category/edit/' + u.categoryid}">Edit</a></td>
                <td><a th:href="${'/category/delete/' + u.categoryid}">Delete</a></td>
                <!--<td th:each="sc :${u.getSubcategoryList()}"><a th:text="${sc.name}" th:href="${'/category/'+ u.categoryid + '/subcategory/' + sc.subcategoryid}"></a></td> -->


                <td><p th:each="uu : ${u.subcategories}" th:text="${uu.name}"></p></td>
                <!-- <td th:if ="${uu.getName()=='Phones'}"  th:text="Phones">Phones</td>
                     <td th:if ="${uu.getName()=='Football'}"  th:text="Football">Football</td>
                     <td th:if ="${uu.getName()=='Jeans'}"  th:text="Jeans">Jeans</td>
                     <td th:if ="${uu.getName()=='Skincare'}"  th:text="Skincare">Jeans</td>
                     <td th:if ="${uu.getName()=='Cars'}"  th:text="Cars">Jeans</td> -->

            </div>
        </tr>


    </table>
</section>
<th:block th:include="fragment/footer"></th:block>
</body>
</html>